{

    "DiskProvisioning":"thin",
    "IPAllocationPolicy":"dhcpPolicy",
    "IPProtocol":"IPv4",
    "NetworkMapping":[
        {"Name":"None","Network":""}
    ],
    "Annotation":"This OVA provides a minimal installed profile of PhotonOS.\n   Default password for root user is changeme. However user will be prompted to change the password during first login.\n        ",
    "PowerOn":false,
    "InjectOvfEnv":false,
    "WaitForIP":false,
    "Name":null
}

